@model RoleViewModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create New Role</h1>

<form method="post" asp-action="Create" >

    <partial name="PartialViews/CreateEditPartial"></partial>

</form>




@section Validation{
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>

}