@model RoleViewModel
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="alert alert-danger">Are You Sure You Want To Delete Role: @Model.Name </h1>


<form method="post" asp-action="Delete">

    <partial name="PartialViews/DetailsDeletePartial"></partial>

    <div class="mt-3">
        <button type="submit" class="btn btn-danger">Delete</button>
        <a asp-action="Index" class="btn btn-secondary">Cancel</a>
    </div>
</form>

