@model RoleViewModel
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit @Model.Name Role</h1>


<form method="post" asp-action="Edit">
    <partial name="PartialViews/CreateEditPartial"></partial>
    <div class="mt-2">
        <a asp-action="AddOrRemoveUsers" class="btn btn-info" asp-route-roleId="@Model.Id">Add Or remove Users</a>
    </div>
</form>


